.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  max-width: 1230px;
  margin: 0 auto;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

@media (max-width: 680px) {
  .footer_bottom {
    flex-direction: column;
    gap: 20px;
  }
}

.footer_bottom span {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  opacity: 0.4;
}

.footer_bottom span a {
  margin-left: 5px;
  color: #fff;
  opacity: 0.4;
}

.footer_bottom span a:hover {
  opacity: 1;
}

.footer_center {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer_center a {
  color: #fff;
  opacity: 0.4;
  transition: all 0.2s ease-out;
}
.footer_center a:hover {
  opacity: 1;
}
